Repository digitallinguistics/data-explorer, pull requests merged in 2022-04, with the labels that each got.

#194 Languages List
  .eslintrc.yml
  build/buildCSS.js
  build/convertLESS.js
  config/handlebars.js
  constants/index.js
  data/languages.yml
  data/users.yml
  layout/head.hbs
  layout/index.less
  middleware/auth.js
  package-lock.json
  package.json
  pages/Languages/Languages.hbs
  pages/Languages/Languages.js
  pages/Languages/Languages.less
  pages/Languages/Languages.test.js
  services/Database.js
  services/Database.unit.js
  test/cypress.json
  utilities/compare.js
  utilities/getDefaultLanguage.js
Labels: 🎁 feature, Languages

#197 Set the vary header
  app/index.js
  middleware/vary.js
  package-lock.json
  package.json
Labels: 🔒 security

#211 MultiLangString
  build/convertLESS.js
  components/MultiLangString/MultiLangString.hbs
  components/MultiLangString/MultiLangString.less
  config/handlebars.js
  data/languages.yml
  pages/Design/Design.hbs
  pages/Design/Design.less
Labels: 🧩 components
